{{title 'Remote Frontend Jobs | FrontHAT'}}
{{first-eye-contact-area}}
{{#if model.loadTask.isRunning}}
  {{loading-indicator loadingText='Updating...'}}
{{/if}}
{{#if (or model.loadTask.isSuccessful isFastBoot)}}
  {{job-list
    scrollPosition=scrollPosition
    firstVisibleChanged='firstVisibleChanged'
    jobs=jobs
  }}
{{/if}}
{{#if model.loadTask.isError}}
  <div class="job-load-error-text">
    Oh, snap. Something went wrong or you're trying to access FrontHAT while offline (we're working on a better solution).
  </div>
{{/if}}
