{{title 'Remote Frontend Jobs | FrontHAT'}}
{{first-eye-contact-area}}
{{#if jobFetchStatus.isRunning}}
  {{loading-indicator loadingText='Updating...'}}
{{/if}}
{{#if jobFetchStatus.isError}}
  <div class="job-load-error-text">
    <p>Oh, snap. Something went wrong while trying to download new content.</p>
    <p>Please reload the application, sorry.</p>
  </div>
{{/if}}
{{job-list
  scrollPosition=scrollPosition
  firstVisibleChanged='firstVisibleChanged'
}}
