<logo class="logo-container">
  {{#link-to 'index'}}
    <img class="fronthat-logo" width="170" height="35" src="{{rootUrl}}/assets/images/fh-logo.svg" alt="FrontHAT Logo">
  {{/link-to}}
</logo>
<nav class="navigation-container">
  {{#link-to 'index'
    class="nav-button nav-button-dark ripple"
  }}
    Job List
  {{/link-to}}
  {{#link-to 'about'
    class="nav-button nav-button-dark ripple"
  }}
    About
  {{/link-to}}
</nav>
