<div class="about-header">
  About
</div>

<div class="question-container">
  <h3>What is a remote job?</h3>
  <p>
    Remote job can be done from anywhere in the world.
    It means that you do not have to be physically located in office to do your job.
  </p>
</div>
<hr>

<div class="question-container">
  <h3>Is every job listing completely 100% remote?</h3>
  <p>
    Yes, every job listed here is 100% remote, although some jobs might be
    country or timezone based (for an example: US based applicants only).
  </p>
</div>
<hr>

<div class="question-container">
  <h3>What kind of job openings do you list/post?</h3>
  <p>
    Everything that is related with frontend work, but it has to be 100% remote.
  </p>
</div>
<hr>

<div class="question-container">
  <h3>How is FrontHAT any different than any other job board?</h3>
  <p>
    It's a curated list of all the well-known job boards.
  </p>
</div>
<hr>

<div class="question-container">
  <h3>I have an idea on how to make FrontHAT better...</h3>
  <p>
    Great! FrontHAT is open source. The source code is available on <a href="https://github.com/erkarl/fronthat" target="_blank" rel="noopener">GitHub</a>. Please <a href="https://github.com/erkarl/fronthat/issues" target="_blank" rel="noopener">open up a new issue</a> for bug reports and feature suggestions.
  </p>
</div>
<hr>

<div class="question-container">
  <h3>Who's behind FrontHAT?</h3>
  <p>
    FrontHAT is created and maintained by <a href="https://karlranna.com" target="_blank" rel="noopener">Karl Ranna</a>. Feel free to reach out on Twitter <a href="https://twitter.com/boredkr" target="_blank" rel="noopener">@boredkr</a>.
  </p>
</div>
<hr>

<div class="question-container">
  <h3>Contact</h3>
  <ul>
    <li>
      Twitter - <a href="https://twitter.com/thefronthat" target="_blank" rel="noopener">@TheFrontHAT</a>
    </li>
    <li>
      Email - <a href="mailto:the@fronthat.com" rel="noopener">the@fronthat.com</a>
    </li>
  </ul>
</div>
