{{#job-item-url-wrapper
  slugend=job.attributes.slugend
  day=job.attributes.day
  month=job.attributes.month
  year=job.attributes.year
}}
  <div class="job-item-content">
    <div class="job-title" itemprop="title">
      {{job.attributes.title}}
    </div>
    <div class="job-date">
      <span itemprop="datePosted">
        {{job.attributes.prettydate}}
      </span>
    </div>
    <div class="job-company-name" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
      <span itemprop="name">
        {{job.attributes.company}}
      </span>
    </div>
  </div>
{{/job-item-url-wrapper}}
<hr>
