{{title 'Not Found | FrontHAT'}}
<div class="simple-message">
  <p>Oops, the page you're looking for wasn't found.</p>
  <p>
    <a href={{href-to 'index'}}>
      <input type="button" value="Home">
    </a>
  </p>
</div>
