<div class="first-eye-contact-area">
  Remote frontend development and design jobs
</div>
<div class="second-focus-point">
  <form action="https://www.getdrip.com/forms/64302472/submissions" method="post">
    <div class="subscribe-container">
      <input class="email-input" type="email" placeholder="Email" name="fields[email]" value="" />
      <input class="nav-button nav-button-dark subscribe-button" type="submit" name="submit" value="Subscribe to Updates" />
    </div>
  </form>
  <div class="search-area">
    <input type="text" class="search-box" placeholder="Search on page"/>
    <input class="nav-button nav-button-dark search-button" type="button" value="Go" />
  </div>
</div>
